extends layout

block content
  // Main jumbotron for a primary marketing message or call to action=
  .container
    h6 Auth: #{title}
    hr
    p Login here
    form(method='post', action='users/register', enctype='multipart/form-data')
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Username
          input#inputEmail4.form-control(type='text',name='username' placeholder='Username')
      .form-row
        .form-group.col-md-6
          label(for='inputEmail4') Password
          input#inputEmail4.form-control(type='password',name='password' placeholder='Password')
         
      button.btn.btn-primary(type='submit') Login
